a {
	text-decoration: none;
	color: #4884b8;
    width: 100%;
    padding: 5px;
    display: block;
}
.box {
    display: flex;
}
ul.tier {
	-webkit-padding-start: 5px;
    -webkit-margin-start: 10px;
    border-left: 1px solid #ddd;
}
.tier li {
	list-style: none;
}

#topbar {    
    height: 60px;
    align-items: center;
    padding: 10px;
    border-bottom: 	1px solid #ddd;
}
#content {
    height: 100%;

}


#toc {
	padding: 10px;
    width: 200px;    
    border-right: 	2px solid #ddd;
}

#doc {
	padding: 10px;
}